{% macro render_doc(doc_to_render) %}
  {% if doc_to_render.components %}

    {% set components = [] %}
    {% do components.append(g.yaml('/content/data/nav.yaml')) %}
    {% set components = components + doc_to_render.components %}
    {% do components.append(g.yaml('/content/data/footer.yaml')) %}

    {% for component in components %}
      {% if component.wrap_with_skewed_section == True %}
        {% set component_filename = '/components/skewed-section/skewed-section.html' %}
      {% else %}
        {% set component_filename = '/components/' + component.component + '/' + component.component.split('/')[-1] + '.html' %}
      {% endif %}
      {% include component_filename with context %}
    {% endfor %}
  {% else %}
    {{doc_to_render.formatted|safe}}
  {% endif %}
{% endmacro %}
