@import ../../global/sass-config/colors
@import ../../global/sass-config/font-sizes
@import ../../global/sass-config/spacing
@import ../../global/sass-mixins/breakpoints
@import ../../global/sass-mixins/typography

.hero
  height: 100vh
  max-width: 100vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  perspective: 750px

.hero__content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.hero__logo
  display: inline
  width: 35vw
  width: 70vmin
  max-width: 70vh
  max-width: 70vmin
  margin-top: -1.5vw
  margin-top: -1.5vmin
  animation: glitch 3s infinite
  position: absolute

  .cls-3 // TODO(Angus) Sort this SVG OUT
    stroke: none

.hero__logo--red
  animation: glitch 3s infinite -0.1s
  .cls-3
    fill: rgba(red, 0.5)
.hero__logo--blue
  animation: glitch 3s infinite -0.2s
  .cls-3
    fill: rgba(cyan, 0.5)

.hero__heading
  +font-secondary
  +font-weight-extra-bold
  font-size: 6.5vw
  font-size: 6.5vmax
  text-align: center
  color: $color-neutral-20
  background: -webkit-linear-gradient($hero-gradient-font-start-color, $hero-gradient-font-end-color 30%, $hero-gradient-font-end-color)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  margin: $spacing-20

.hero__subheading
  +font-primary
  +font-weight-regular
  font-size: $font-size-50
  color: $color-neutral-20
  background: -webkit-linear-gradient($hero-gradient-font-start-color, $hero-gradient-font-end-color)
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  padding: $spacing-20

// Move this to separate file
@keyframes glitch
  0%, 100%
    transform: translate(0, 0)
  49%
    transform: translate(0, 0)
  50%
    transform: translate(-1.3%, 1.8%)
  51%
    transform: translate(2.3%, -2.8%)
  52%
    transform: translate(0, 0)