.hero 
  height: 80vh
  max-width: 100vw
  display: flex
  align-items: center
  justify-content: center
  background: $hero-background-color

.hero__header
  font-size: 5rem
  color: $hero-font-color