// Font Families
=font-primary
  font-family: 'Open Sans', Verdana, Geneva, Tahoma

=font-secondary
  font-family: 'Roboto', Arial, Helvetica, sans-serif

// Font Weights
=font-weight-light
  font-weight: 300

=font-weight-regular
  font-weight: 400

=font-weight-bold
  font-weight: 600
