.footer
  height: 7vh
  max-width: 100%
  background: $footer-background-color
  padding: 1rem 5rem
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-between

.footer__brand
  height: 50%

.footer__logo
  height: 100%

.footer__content
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  width: 50%

.footer__link
  color: $footer-font-color
  text-decoration: none
  transition: color 0.3s

.footer__link:hover
  color: $footer-font-hover-color