<section class="contact section" id="contact" data-target="nav__link--contact">
  <div class="contact__info">
    <h1 class="contact__header">Get in touch.</h1>
    <a href="mailto:{{ component.email }}" class="contact__email">{{
      component.email
    }}</a>
    <div class="contact__topics">
      {% for topic in component.topics %}
      <a class="{{ topic.css_class }}">{{ topic.name }} &#10141;</a>
      {% endfor %}
    </div>
  </div>

  <div class="contact__right">
    {% for form in component.forms %}
    <form action="{{ form.action }}" class="{{ form.css_class }}">
      {% for field in form.fields %} {% if field.type == 'textarea' %}
      <label for="{{ field.name }}" class="form__field__label">{{
        field.label
      }}</label>
      <textarea
        name="{{ field.name }}"
        class="form__field__control"
        placeholder="{{ field.placeholder }}"
      ></textarea>
      {% endif %} {% if field.type.input %}
      <label for="{{ field.name }}" class="form__field__label">{{
        field.label
      }}</label>
      <input
        type="{{ field.type.input }}"
        class="form__field__control"
        name="{{ field.name }}"
        placeholder="{{ field.placeholder }}"
      />
      {% endif %} {% endfor %}
      <div class="form__group">
        <button type="submit" class="form__button">Submit</button>
      </div>
    </form>
    {% endfor %}
  </div>
</section>
