<section class="contact section" id="contact" data-target="nav__link--contact">
  <div class="contact__info">
    <h1 class="contact__header">Get in touch.</h1>
    <a href="mailto:{{ component.email }}" class="contact__email">{{
      component.email
    }}</a>
    <div class="contact__topics">
      {% for topic in component.topics %}
      <a class="{{ topic.class }}">{{ topic.name }} &#10141;</a>
      {% endfor %}
    </div>
  </div>

  <div class="contact__right">
    {% import "/extensions/google_forms/google_forms.html" as google_forms with
    context %}
    <form
      action="{{ component.projectForm.action }}"
      method="POST"
      class="contact__form contact__form--1"
    >
      {{ google_forms.render_fields(component.projectForm.items) }}
      <div class="form__group">
        <button type="submit" class="form__button">Send</button>
      </div>
    </form>
    <form
      action="{{ component.coffeeForm.action }}"
      method="POST"
      class="contact__form contact__form--2"
    >
      {{ google_forms.render_fields(component.coffeeForm.items) }}
      <div class="form__group">
        <button type="submit" class="form__button">Send</button>
      </div>
    </form>
    <form
      action="{{ component.chatForm.action }}"
      method="POST"
      class="contact__form contact__form--3"
    >
      {{ google_forms.render_fields(component.chatForm.items) }}
      <div class="form__group">
        <button type="submit" class="form__button">Send</button>
      </div>
    </form>
  </div>
</section>
