@import ../../global/sass-config/colors
@import ../../global/sass-config/font-sizes
@import ../../global/sass-config/spacing
@import ../../global/sass-mixins/typography
@import ../../global/sass-mixins/breakpoints

.contact
  +font-primary
  position: relative
  min-height: 105vh
  padding-top: 20vw
  padding-bottom: 10vw
  display: flex
  align-items: center
  justify-content: center
  +media(tablet-landscape)
    padding-top: calc(6vh + 10vw)
    padding-bottom: 0
  +media(tablet-portrait)
    flex-direction: column

.contact__header
  font-size: $font-size-70
  +font-weight-bold
  color: $contact-header-color
  +media(mobile)
    font-size: $font-size-60

.contact__email
  color: $contact-email-color
  font-size: $font-size-50
  text-transform: uppercase
  text-decoration: none
  border-bottom: 1px solid $contact-email-border-color
  padding-bottom: 0.2rem
  +font-weight-light
  +media(mobile)
    font-size: $font-size-40

.contact__info
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: space-evenly
  height: 65vh
  width: 50%
  margin: 0 $spacing-60
  +media(tablet-portrait)
    width: 100%
    align-items: center
    height: 40vh
    justify-content: space-between

.contact__topics
  display: flex
  flex-direction: column
  align-items: flex-end
  justify-content: space-evenly
  height: 40%
  font-size: $font-size-40
  +media(mobile)
    font-size: $font-size-30
    justify-content: space-between

.contact__topic
  color: $contact-topic-color
  text-decoration: none
  cursor: pointer
  transition: margin-right 0.3s
  +font-weight-light
  margin-right: 1rem
  transition: color 0.2s

.contact__topic:hover:not(.contact__topic--active, .contact__topic--disabled)
  margin-right: 0.5rem

.contact__topic--active
  margin-right: 0
  +font-weight-bold

.contact__topic--disabled
  cursor: auto
  color: $contact-topic-color--disabled

.contact__right
  height: 65vh
  width: 50%
  margin: 0 $spacing-60
  +media(tablet-portrait)
    height: auto
    margin: 3rem auto
  +media(mobile)
    width: 85vw

.contact__form
  height: 100%
  width: 100%
  flex-direction: column
  align-items: flex-start
  justify-content: center
  display: none
  +media(mobile)
    align-items: center

.form__group
  display: flex
  align-items: flex-start
  flex-direction: column
  margin: $spacing-20 0
  +media(mobile)
    max-width: 100%

.form__field__control,
textarea.form__field__control,
.form__button
  font-size: $font-size-20
  padding: 0.5rem
  margin: $spacing-20 0
  color: $contact-input-color

.form__field__control,
textarea.form__field__control
  border: 1px solid $contact-border-color
  width: 24rem
  +media(mobile)
    max-width: 100%

.form__field__control
  height: 3rem

textarea.form__field__control
  height: 8rem
  background-color: transparent

.form__field__label
  color: $contact-label-color

.form__button
  border: 2px solid $contact-border-color
  text-align: center
  width: 12rem
  +font-weight-light
  text-transform: uppercase
  transition: background-color 0.2s, color 0.2s

.form__button:hover
  background-color: $contact-button-hover-background-color
  color: $contact-button-hover-font-color
  cursor: pointer

.contact__form--reveal
  display: flex

.message
  color: $success-font-color
  height: 100%
  width: 80%
  display: flex
  align-items: center
  justify-content: flex-start
  transform: translateY(100%)
  visibility: hidden
  transition: visibility 0.3s, transform 0.3s
  +media(tablet-portrait)
    width: 100%
    justify-content: center

.message--reveal
  transform: translateY(0)
  visibility: visible

.message__content
  font-size: $font-size-40
  border: 1px solid $success-border-color
  padding: 2rem 8rem
  margin-left: 2rem
  font-weight: 300
  +media(tablet-landscape)
    padding: 2rem 4rem
  +media(tablet-portrait)
    margin-left: 0
    padding: 1rem 2rem