<section class="colors">
  <h2 class="colors__heading">Neutral</h2>
  <div class="neutral">
    <div class="neutral__100 colors__box"></div>
    <div class="neutral__80 colors__box"></div>
    <div class="neutral__60 colors__box"></div>
    <div class="neutral__40 colors__box"></div>
    <div class="neutral__20 colors__box"></div>
  </div>
  <h2 class="colors__heading">Primary</h2>
  <div class="primary">
    <div class="primary__100 colors__box"></div>
    <div class="primary__80 colors__box"></div>
    <div class="primary__60 colors__box"></div>
    <div class="primary__40 colors__box"></div>
    <div class="primary__20 colors__box"></div>
  </div>
  <h2 class="colors__heading">Accents</h2>
  <div class="cyan">
    <div class="cyan__100 colors__box"></div>
    <div class="cyan__80 colors__box"></div>
    <div class="cyan__60 colors__box"></div>
    <div class="cyan__40 colors__box"></div>
    <div class="cyan__20 colors__box"></div>
  </div>
  <div class="yellow">
    <div class="yellow__100 colors__box"></div>
    <div class="yellow__80 colors__box"></div>
    <div class="yellow__60 colors__box"></div>
    <div class="yellow__40 colors__box"></div>
    <div class="yellow__20 colors__box"></div>
  </div>
  <div class="green">
    <div class="green__100 colors__box"></div>
    <div class="green__80 colors__box"></div>
    <div class="green__60 colors__box"></div>
    <div class="green__40 colors__box"></div>
    <div class="green__20 colors__box"></div>
  </div>
  <div class="orange">
    <div class="orange__100 colors__box"></div>
    <div class="orange__80 colors__box"></div>
    <div class="orange__60 colors__box"></div>
    <div class="orange__40 colors__box"></div>
    <div class="orange__20 colors__box"></div>
  </div>
</section>
