// BY NAME
// Define all your color values by color names here

$color-white: white
$color-black: black

// Neutral
$color-neutral-100: #151515
$color-neutral-80: #4A4A4A
$color-neutral-60: #808080
$color-neutral-40: #B5B5B5
$color-neutral-20: #EBEBEB

// Primary
$color-primary-100: #FF0097
$color-primary-80: #FF3CB0
$color-primary-60: #FF73C6
$color-primary-40: #FFABDD
$color-primary-20: #FFE4F4

// Accent Blue
$color-accent-blue-100: #00BAFF
$color-accent-blue-80: #3AC9FF
$color-accent-blue-60: #73D9FF
$color-accent-blue-40: #ADE9FF
$color-accent-blue-20: #E5F8FF

// Accent Yellow
$color-accent-yellow-100: #FFEB00
$color-accent-yellow-80: #FFF03A
$color-accent-yellow-60: #FFF472
$color-accent-yellow-40: #FFF9AA
$color-accent-yellow-20: #FFFDE6

// Accent Green
$color-accent-green-100: #0CFF00
$color-accent-green-80: #41FF3A
$color-accent-green-60: #77FF72
$color-accent-green-40: #AEFFAB
$color-accent-green-20: #E6FFE5

// Accent Orange
$color-accent-orange-100: #FF6720
$color-accent-orange-80: #FF803F
$color-accent-orange-60: #FFA272
$color-accent-orange-40: #FFC8AB
$color-accent-orange-20: #FFEDE4

// BY PURPOSE
// Re-define colors by purpose here so that site-wide color updates can be done
// with a small number of changes to the config file.
// If the color scheme does not call for two areas using the same color to match
// give them different names so they can be adjusted separately in the future.

// Body colors
$body-background-color: $color-neutral-20

// Nav colors
$nav-background-color: $color-neutral-20
$nav-font-color: $color-neutral-40
$nav-font-hover-color: $color-neutral-20
$nav-font-color--dark: $color-neutral-80
$nav-font-hover-color--dark: $color-neutral-100

// About colors
$profile-name-font-color: $color-neutral-100
$profile-about-font-color: $color-neutral-80
$about-fade-start-color: $color-neutral-20
$about-fade-end-color: rgba(0, 0, 0, 0);

// Hero colors
$hero-background-color: $color-neutral-100
$hero-gradient-font-start-color: $color-white
$hero-gradient-font-end-color: $color-primary-40

// Footer colors
$footer-background-color: $color-primary-20
$footer-font-color: $color-neutral-80
$footer-font-hover-color: $color-neutral-100

// Block colors
$block-start-color: $color-primary-100
$block-end-color: $color-primary-60