// BY NAME
// Define all your color values by color names here

$color-white: white
$color-black: black

// Neutral
$color-neutral-100: #000008
$color-neutral-80: #333343
$color-neutral-60: #808098
$color-neutral-40: #B5B5D5
$color-neutral-20: #EBEBFF

// Primary
$color-primary-120: #a30060
$color-primary-110: #de0087
$color-primary-100: #FF0097
$color-primary-80: #FF3CB0
$color-primary-60: #FF73C6
$color-primary-40: #FFABDD
$color-primary-20: #FFE4F4

// Accent Cyan
$color-accent-cyan-110: #00a8e5
$color-accent-cyan-100: #00BAFF
$color-accent-cyan-80: #3AC9FF
$color-accent-cyan-60: #73D9FF
$color-accent-cyan-40: #ADE9FF
$color-accent-cyan-20: #E5F8FF

// Accent Yellow
$color-accent-yellow-110: #edda00
$color-accent-yellow-100: #FFEB00
$color-accent-yellow-80: #FFF03A
$color-accent-yellow-60: #FFF472
$color-accent-yellow-40: #FFF9AA
$color-accent-yellow-20: #FFFDE6

// Accent Green
$color-accent-green-100: #0CFF00
$color-accent-green-80: #41FF3A
$color-accent-green-60: #77FF72
$color-accent-green-40: #AEFFAB
$color-accent-green-20: #E6FFE5

// Accent Orange
$color-accent-orange-110: #dd5516
$color-accent-orange-100: #FF6720
$color-accent-orange-80: #FF803F
$color-accent-orange-60: #FFA272
$color-accent-orange-40: #FFC8AB
$color-accent-orange-20: #FFEDE4

// BY PURPOSE
// Re-define colors by purpose here so that site-wide color updates can be done
// with a small number of changes to the config file.
// If the color scheme does not call for two areas using the same color to match
// give them different names so they can be adjusted separately in the future.

// Body colors
$body-background-color: $color-neutral-100

// Nav colors
$nav-logo-background-color: $color-neutral-100
$nav-background-color: $color-neutral-100
$nav-font-color: $color-neutral-100
$nav-font-hover-color: $color-black
$nav-strikethrough-color--about: $color-accent-yellow-100
$nav-strikethrough-color--projects: $color-accent-orange-100
$nav-strikethrough-color--workflow: $color-primary-100
$nav-strikethrough-color--contact: $color-accent-cyan-100
$nav-background-color--mobile: $color-neutral-80
$nav-font-color--mobile: $color-neutral-20
$nav-menu-color: $color-neutral-100

// Sub-header colors
$sub-header-fallback-color: $color-white

// About colors
$profile-about-font-color: $color-neutral-20
$about-fade-start-color: $color-neutral-20
$about-fade-end-color: rgba(0, 0, 0, 0)
$profile-block-color: $color-neutral-20
$profile-position-font-color: $color-white
$about-gradient-font-start-color: $color-accent-yellow-110
$about-gradient-font-end-color: $color-accent-yellow-100
$about-profile-gradient-start-color: $color-accent-yellow-110
$about-profile-gradient-end-color: $color-accent-yellow-100

// Projects colors
$project-about-font-color: $color-neutral-20
$project-about-font-color--hover: white
$project-gradient-font-start-color: $color-accent-orange-110
$project-gradient-font-end-color: $color-accent-orange-100
$project-frame-gradient-start-color: $color-accent-orange-110
$project-frame-gradient-end-color: $color-accent-orange-100

// Hero colors
$hero-background-color: $color-neutral-100
$hero-gradient-font-start-color: $color-primary-120
$hero-gradient-font-end-color: $color-primary-100

// Footer colors
$footer-background-color: $color-neutral-100
$footer-font-color: $color-neutral-40
$footer-font-hover-color: $color-neutral-20

// Block colors
$block-start-color--pink: $color-primary-20
$block-middle-color--pink: $color-primary-110
$block-right-color--pink: $color-primary-100

$block-start-color--orange: $color-accent-orange-20
$block-middle-color--orange: $color-accent-orange-110
$block-right-color--orange: $color-accent-orange-100

$block-start-color--yellow: $color-accent-yellow-20
$block-middle-color--yellow: $color-accent-yellow-110
$block-right-color--yellow: $color-accent-yellow-100

$block-start-color--cyan: $color-accent-cyan-20
$block-middle-color--cyan: $color-accent-cyan-110
$block-right-color--cyan: $color-accent-cyan-100

// Contact colors
$contact-header-color: $color-neutral-20
$contact-email-color: $color-neutral-20
$contact-email-border-color: $color-neutral-60
$contact-topic-color: $color-accent-cyan-40
$contact-label-color: $color-neutral-20
$contact-input-color: $color-neutral-20
$contact-border-color: $color-neutral-20
$contact-button-hover-background-color: $color-neutral-20
$contact-button-hover-font-color: $color-neutral-100
$success-border-color: $color-accent-cyan-80
$success-font-color: $color-neutral-20

// Workflow colors
$workflow-title-color: $color-neutral-20
$workflow-paragraph-color: $color-neutral-40
$workflow-background-color: $color-neutral-100
$workflow-header-start-color: $color-primary-100
$workflow-header-end-color: $color-primary-80
$workflow-button-color: $color-neutral-20
$workflow-button-color--dark: $color-neutral-100

// Logo colors
$logo-light-fill-color--pink: $color-primary-100
$logo-light-fill-color--orange: $color-accent-orange-100
$logo-light-fill-color--yellow: $color-accent-yellow-100
$logo-light-fill-color--cyan: $color-accent-cyan-100

$logo-dark-fill-color--pink: $color-primary-110
$logo-dark-fill-color--orange: $color-accent-orange-110
$logo-dark-fill-color--yellow: $color-accent-yellow-110
$logo-dark-fill-color--cyan: $color-accent-cyan-110

// Why us colors
$why-us-header-color: $color-neutral-20
$why-us-tagline-color: $color-neutral-40
$why-us-button-color: $color-neutral-20
$why-us-button-color--dark: $color-neutral-100
$modal-background-color: $color-neutral-100
$modal-border-color: $color-primary-110
$modal-header-color: $color-neutral-20
$modal-x-color: $color-neutral-20
$modal-question-color: $color-neutral-20
$modal-link-color: $color-neutral-40
$modal-title-start-color: $color-primary-100
$modal-title-end-color: $color-primary-80