// Font Families
=font-primary
  font-family: 'Open Sans', Verdana, Geneva, Tahoma

=font-secondary
  font-family: 'Roboto', Arial, Helvetica, sans-serif

// Font Weights
=font-weight-regular
  font-weight: 400

=font-weight-bold
  font-weight: 600

// Box Shadows
=box-shadow-light
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.25)

=box-shadow-regular
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25)

=box-shadow-bold
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25)

// Breakpoints
=media($breakpoint)
  @if $breakpoint == desktop 
    @media(max-width: 1440px)
      @content
  @if $breakpoint == tablet-landscape 
    @media(max-width: 1200px)
      @content
  @if $breakpoint == tablet-portrait 
    @media(max-width: 900px)
      @content
  @if $breakpoint == mobile
    @media(max-width: 600px)
      @content