<section
  class="workflow section"
  id="workflow"
  data-target="nav__link--workflow"
>
  <div class="left">
    <img
      src="{{ component.hero_image.file.url }}"
      alt="{{ component.hero_image.description }}"
      class="workflow__image"
    />
  </div>
  <div class="right">
    <h1 class="workflow__header">Workflow</h1>
    {% for section in component.sections %}
    <h2 class="workflow__title">{{ section.header }}</h2>
    <p class="workflow__paragraph">
      {{ section.body }}
    </p>
    {%- endfor -%}
  </div>
</section>
