@import ../../global/sass-config/colors
@import ../../global/sass-config/font-sizes
@import ../../global/sass-config/spacing
@import ../../global/sass-mixins/typography
@import ../../global/sass-mixins/breakpoints
@import ../../global/sass-mixins/sub-header

.workflow
  display: flex
  min-height: 100vh
  padding: 5vw 0
  +media(mobile)
    padding: 15vw 0

.workflow__header
  +sub-header($workflow-header-start-color, $workflow-header-end-color)

.left,
.right
  max-height: 100%
  width: 50%

.left
  display: flex
  align-items: center
  justify-content: center
  +media(tablet-portrait)
    display: none

.right
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: center
  padding: 10rem 5rem
  background-color: $workflow-background-color
  +media(tablet-landscape)
    padding: 5rem 3rem
  +media(tablet-portrait)
    align-items: center
    width: 100%
  +media(mobile)
    padding: 2rem 1rem

.workflow__title
  color: $workflow-title-color
  +font-primary
  +font-weight-bold
  font-size: $font-size-50
  margin-bottom: $spacing-40
  margin-top: $spacing-50

.workflow__paragraph p
  color: $workflow-paragraph-color
  +font-weight-regular
  font-size: $font-size-30
  line-height: $spacing-40
  margin-bottom: $spacing-30
  max-width: 40rem
  +media(tablet-portrait)
    text-align: center
  +media(mobile)
    font-size: $font-size-20

.workflow__image
  max-height: 100%
  width: 100%
