@import ../../global/sass-config/colors
@import ../../global/sass-config/font-sizes
@import ../../global/sass-config/spacing
@import ../../global/sass-mixins/typography
@import ../../global/sass-mixins/breakpoints

.nav
  +font-primary
  +font-weight-regular
  height: 6vh
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  position: fixed
  top: 0
  left: 0
  z-index: 3
  transform: skewY(-.3deg)

.nav__brand
  height: calc(100% + 1rem)
  padding: 1rem
  box-sizing: border-box

.nav__logo
  height: 100%

.nav__content
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  width: 50%
  height: 100%
  +media(tablet-landscape)
    margin-right: 7rem
  +media(tablet-portrait)
    display: none

.nav__link
  background: rgba($color-black, 0)
  position: relative
  text-decoration: none
  color: $nav-font-color
  font-size: $nav-link-font-size
  transition: font-weight 0.2s, font-size 0.2s
  text-transform: uppercase
  height: 100%
  padding: 0 $spacing-40
  display: flex
  align-items: center

  &:after
    content: ''
    position: absolute
    background: $color-neutral-100
    top: 0
    left: 0
    right: 0
    width: 1rem
    height: 1rem
    margin: auto
    transform: translateY(-1.25rem) rotate(45deg)
    transition: transform .2s
    +media(tablet-portrait)
      display: none

.nav__link:hover
  color: $nav-font-hover-color

  &:after
    transform: translateY(-.8rem) rotate(45deg)

.nav__background
  height: calc(100% + 2rem)
  width: calc(100% + 3rem)
  position: absolute
  right: -3rem

.nav__link--active
  font-size: 1.5rem
  font-weight: 600

  &:after
    transform: translateY(-.6rem) rotate(45deg)

  &:hover:after
    transform: translateY(-.5rem) rotate(45deg)

// Mobile menu
.nav__menu
  display: none
  margin-right: 1rem
  z-index: 4
  +media(tablet-portrait)
    display: block
  +media(mobile)
    transform: scale(0.8)

.nav__bar
  width: 2rem
  height: .3rem
  background-color: $nav-menu-color
  margin: .4rem
  transition-property: transform, opacity
  transition-duration: .3s

.x
  .nav__bar--1
    transform: rotate(-135deg) translate(-.35rem, -.64rem)

  .nav__bar--2
    opacity: 0

  .nav__bar--3
    transform: rotate(135deg) translate(-.35rem, .6rem)

// Mobile
.nav__content--mobile
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  position: absolute
  right: 0
  top: 6vh
  background: $nav-background-color--mobile
  width: 100vw
  height: 94vh
  list-style: none
  z-index: -1
  margin-top: 0.4rem
  transform: translateX(100%)
  opacity: 0
  transition-property: transform, opacity
  transition-duration: 0.3s

.display-nav
  transform: translateX(0)
  opacity: 1

.nav__link--mobile
  color: $nav-font-color--mobile
  height: 20%

.nav__link--mobile:hover
  color: $nav-font-color--mobile

// Logo styles
.logo
  height: 100%

.logo__light
  fill: $logo-light-fill-color--pink
  transition: 1s fill ease-out

.logo__workflow
  .logo__light
    fill: $logo-light-fill-color--pink
.logo__projects
  .logo__light
    fill: $logo-light-fill-color--orange
.logo__about
  .logo__light
    fill: $logo-light-fill-color--yellow
.logo__contact
  .logo__light
    fill: $logo-light-fill-color--cyan

.logo__dark
  fill: $logo-dark-fill-color--pink
  transition: 1s fill ease-in
  transition-delay: .1s

.logo__workflow
  .logo__dark
    fill: $logo-dark-fill-color--pink
.logo__projects
  .logo__dark
    fill: $logo-dark-fill-color--orange
.logo__about
  .logo__dark
    fill: $logo-dark-fill-color--yellow
.logo__contact
  .logo__dark
    fill: $logo-dark-fill-color--cyan
