{%- import "/global/jinja-macros/render-contentful-image.html" as
render_contentful_image with context -%}

<section
  class="projects section"
  id="projects"
  data-target="nav__link--projects"
>
  <h1 class="projects__header">Projects</h1>
  {%- for project in component.projects -%}
  <div class="project">
    <div class="project__frame">
      {{
        render_contentful_image.render_contentful_image(project.project.image, {
          'css_class': 'project__image'
        })
      }}
    </div>
    <div class="{{ project.info_css_class }}">
      <h2 class="project__name">{{ project.project.name }}</h2>
      <div class="project__about">
        {{ project.project.about | markdown | safe }}
      </div>
    </div>
  </div>
  {%- endfor -%}
</section>
