<section
  class="projects section"
  id="projects"
  data-target="nav__link--projects"
>
  <h1 class="projects__header">Projects</h1>
  {%- for project in component.projects -%}
  <div class="project">
    <div class="project__frame">
      <img
        data-src="{{ project.image.file.url }}"
        alt="{{ project.image.description }}"
        class="project__image lazy-load"
      />
    </div>
    <div class="{{ project.info_css_class }}">
      <h2 class="project__name">{{ project.name }}</h2>
      <div class="project__about">
        {{ project.about | markdown | safe }}
      </div>
    </div>
  </div>
  {%- endfor -%}
</section>
