@import ../../global/sass-config/line-height
@import ../../global/sass-config/spacing
@import ../../global/sass-mixins/sub-header

.projects
  padding-top: calc(12vh + 10vw)
  padding-bottom: 10vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start

.projects__header
  display: none

.project
  display: flex
  align-items: flex-start
  justify-content: center
  margin: $spacing-50 0

.project:nth-of-type(odd)
  flex-direction: row-reverse

.project__info
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  position: sticky
  top: 12vh
  width: 30rem
  margin: 0 $spacing-60

.project__image
  margin: 0 $spacing-60

.project__info--1--pause
  position: fixed
  top: 12vh
  left: 20%

.project__name
  margin-bottom: $spacing-60
  +sub-header($project-gradient-font-start-color, $project-gradient-font-end-color)

.project__about
  +font-secondary
  +font-weight-regular
  font-size: $body-font-size
  color: $project-about-font-color
  line-height: $project-about-line-height
