{%- import "/global/jinja-macros/render-contentful-image.html" as
render_contentful_image with context -%}

<section class="about section" id="about" data-target="nav__link--about">
  <h1 class="about__header">
    {{ component.title }}
  </h1>
  {%- for person in component.staff -%}
  <div class="{{ person.css_class }}">
    <div class="profile__frame">
      {{
        render_contentful_image.render_contentful_image(person.person.image, {
          'css_class': 'profile__image'
        })
      }}
      <div class="profile__block"></div>
    </div>
    <div class="profile__info">
      <h2 class="profile__name">{{ person.person.name }}</h2>
      <h4 class="profile__position">{{ person.person.position }}</h4>
      <div class="profile__about">
        {{ person.person.about | markdown | safe }}
      </div>
    </div>
  </div>
  {%- endfor -%}
</section>
