<section class="about section" id="about" data-target="nav__link--about">
  <h1 class="about__header">
    {{ component.title }}
  </h1>
  {% for person in component.staff %}
  <div class="{{ person.css_class }}">
    <div class="profile__frame">
      <img
        src="{{ person.image.file.url }}"
        alt="{{ person.image.description }}"
        class="profile__image"
      />
    </div>
    <div class="profile__info">
      <h2 class="profile__name">{{ person.name }}</h2>
      <h4 class="profile__position">{{ person.position }}</h4>
      <p class="profile__about">
        {{ person.about }}
      </p>
    </div>
  </div>
  {% endfor %}
</section>
