@import ../../global/sass-config/colors
@import ../../global/sass-config/line-height
@import ../../global/sass-config/spacing
@import ../../global/sass-mixins/sub-header
@import ../../global/sass-mixins/typography
@import ../../global/sass-mixins/breakpoints

.about
  padding-top: calc(15vh + 10vw)
  padding-bottom: 10vw
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-start
  +media(tablet-landscape)
    padding-top: calc(6vh + 10vw)

.about__header
  display: none

.profile
  display: flex
  align-items: flex-start
  justify-content: center
  margin: $spacing-50 0
  +media(tablet-portrait)
    flex-direction: column
    align-items: center
  +media(mobile)
    margin: $spacing-30 0

.profile:nth-of-type(even)
  flex-direction: row-reverse
  +media(tablet-portrait)
    flex-direction: column

.profile__frame
  overflow: hidden
  margin: 0 $spacing-60
  max-height: 80vh
  max-width: 30%
  display: flex
  align-items: center
  position: relative
  transform-origin: bottom
  +media(tablet-landscape)
    margin: 0 $spacing-40
    max-width: 50vw
  +media(tablet-portrait)
    max-width: 60vw
  +media(mobile)
    max-width: 90vw

.profile__image
  width: 100%
  height: 100%
  object-fit: cover

.profile__block
  transform-origin: top
  background: linear-gradient(to top right, $about-profile-gradient-start-color, $about-profile-gradient-end-color)
  height: 100%
  width: 100%
  z-index: 2
  position: absolute
  top: 0
  left: 0
  transition: transform 0.3s

.profile__block--reveal
  transform: translateY(-100%)

.profile__info
  display: flex
  flex-direction: column
  align-items: flex-start
  justify-content: flex-start
  width: 30rem
  margin: 0 $spacing-60
  +media(tablet-landscape)
    margin: 0 $spacing-40
  +media(tablet-portrait)
    align-items: center
    margin: $spacing-30

.profile__name
  +sub-header($about-gradient-font-start-color, $about-gradient-font-end-color)
  margin-bottom: $spacing-20
  +media(tablet-portrait)
    font-size: $font-size-60
    margin-bottom: 0
  +media(mobile)
    font-size: $font-size-50

.profile__position
  +font-primary
  margin-bottom: $spacing-60
  +font-weight-light
  font-size: $profile-position-font-size
  color: $profile-position-font-color
  +media(tablet-portrait)
    font-size: $font-size-50
    margin-bottom: $spacing-30
  +media(mobile)
    font-size: $font-size-40

.profile__about p
  +font-primary
  +font-weight-regular
  font-size: $body-font-size
  color: $profile-about-font-color
  line-height: $profile-about-line-height
  margin-bottom: $spacing-30
  +media(tablet-portrait)
    text-align: center
  +media(mobile)
    font-size: $font-size-20
    max-width: 90vw
    line-height: $spacing-40
    margin-top: $spacing-20
