@import ../../global/sass-config/colors

.blocks
  display: flex
  height: 0
  overflow: visible
  padding-bottom: 30vh
  position: relative
  width: 120%
  margin-left: -10%

.blocks--reverse
  //flex-direction: row-reverse
  transform: scaleX(-1)

=blocks-color($start, $middle, $right)
  .block
    background-image: linear-gradient(to bottom, $right, $block-bottom-color 90%)
  .block:before
    background: linear-gradient(to bottom, $start, $middle 12%, $block-bottom-color 90%)

.blocks--pink
  +blocks-color($block-start-color--pink, $block-middle-color--pink, $block-right-color--pink)
.blocks--orange
  +blocks-color($block-start-color--orange, $block-middle-color--orange, $block-right-color--orange)
.blocks--yellow
  +blocks-color($block-start-color--yellow, $block-middle-color--yellow, $block-right-color--yellow)
.blocks--cyan
  +blocks-color($block-start-color--cyan, $block-middle-color--cyan, $block-right-color--cyan)

.block
  width: 100%
  height: 75vh
  margin-right: 2rem
  margin-top: .5rem
  margin-left: .5rem

.block:before
  content: ''
  position: absolute
  top: -0.5rem
  left: -0.5rem
  width: 100%
  height: 100%
