@import ../../global/sass-config/colors

.blocks
  display: flex
  height: 0
  overflow: visible
  padding-bottom: 30vh
  position: relative
  width: 100%

.blocks--reverse
  flex-direction: row-reverse

=blocks-color($start, $middle, $right)
  .block
    background: linear-gradient(to bottom, $start, $middle 12%, $block-bottom-color 90%)
  .block:before
    background-image: linear-gradient(to bottom, $right, $block-bottom-color 90%)
  .block:after
    background: $block-bottom-color

.blocks--pink
  +blocks-color($block-start-color--pink, $block-middle-color--pink, $block-right-color--pink)
.blocks--orange
  +blocks-color($block-start-color--orange, $block-middle-color--orange, $block-right-color--orange)
.blocks--yellow
  +blocks-color($block-start-color--yellow, $block-middle-color--yellow, $block-right-color--yellow)
.blocks--cyan
  +blocks-color($block-start-color--cyan, $block-middle-color--cyan, $block-right-color--cyan)

.block
  width: 100%
  height: 75vh
  margin-right: $spacing-30

.block:before,
.block:after
  content: ''
  position: absolute
  bottom: -0.5rem
  right: -0.5rem

.block:before
  bottom: -0.5rem
  width: 0.5rem
  height: calc(100% + 2px)

.block:after
  right: -0.5rem
  height: 0.5rem
  width: calc(100% + 2px)
