<section class="why-us">
  <div class="why-us__content">
    <h1 class="why-us__header">
      {{ component.contentful.header }}
    </h1>
    <h4 class="why-us__tagline">{{ component.contentful.tagline|safe }}</h4>
  </div>
  <div class="modal">
    <div class="modal__content">
      <div class="modal__x">&times;</div>
      <h2 class="modal__header">{{ component.contentful.modal_title }}</h2>
      <div class="modal__info">
        {{ component.contentful.modal_copy | markdown | safe }}
      </div>
      <ul class="modal__list">
        {% for question in component.contentful.modal_questions %}
        <li class="modal__item modal__item--hidden">
          <p class="modal__question modal__question--hidden">
            {{ question.question }}
          </p>
          <div class="modal__answer modal__answer--hidden">
            {{ question.answer | markdown | safe }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
