@import ../../global/sass-config/colors
@import ../../global/sass-config/font-sizes
@import ../../global/sass-config/spacing
@import ../../global/sass-config/line-height
@import ../../global/sass-mixins/typography
@import ../../global/sass-mixins/breakpoints
@import ../../global/sass-mixins/sub-header

.why-us
  min-height: 100vh
  padding: 10vh 0
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

.why-us__content
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  transition: visibility 0.2s, opacity 0.2s, transform 0.2s

.why-us__header
  font-size: $font-size-60
  +font-weight-bold
  color: $why-us-header-color
  margin-bottom: $spacing-60
  +media(mobile)
    font-size: $font-size-50
    margin-bottom: $spacing-40

.why-us__tagline
  font-size: $font-size-50
  +font-secondary
  +font-weight-regular
  color: $why-us-tagline-color
  margin-bottom: $spacing-60
  text-align: center
  +media(mobile)
    font-size: $font-size-40
    margin: $spacing-30
    margin-bottom: $spacing-40

.why-us__button
  font-size: $font-size-50
  +font-secondary
  +font-weight-light
  color: $why-us-button-color
  border: 3px solid $why-us-button-color
  padding: $spacing-20 $spacing-60
  cursor: pointer
  transition: color 0.2s, background 0.2s
  +media(mobile) 
    font-size: $font-size-40

.why-us__button:hover
  color: $why-us-button-color--dark
  background: $why-us-button-color

.modal
  position: fixed
  top: 0
  left: 0
  z-index: 3
  width: 100vw
  background: rgba(0, 0, 0, 0.25)
  display: flex
  align-items: center
  justify-content: center
  overflow: auto
  visibility: hidden
  opacity: 0
  transform: translateY(50%)
  transition: transform 0.2s, opacity 0.2s

.display
  visibility: visible
  opacity: 1
  transform: translateY(0)
  height: 100vh

.hide
  visibility: hidden
  opacity: 0
  transform: translateY(-50%)

.modal__content
  width: 95%
  height: 95%
  background: $modal-background-color
  border: 15px solid $modal-border-color
  padding: $spacing-50 $spacing-70
  overflow-y: scroll
  position: fixed
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  +media(tablet-landscape)
    width: 90vw
  +media(mobile)
    padding: 1rem

.modal__x
  position: absolute
  font-size: $font-size-60
  color: $modal-x-color
  cursor: pointer
  top: 1rem
  right: 2rem
  z-index: 4
  +media(mobile)
    right: 1rem

.modal__header
  +sub-header($modal-title-start-color, $modal-title-end-color)
  margin: $spacing-60 0
  text-align: center
  +media(mobile)
    font-size: $font-size-30

.modal__info
  font-size: $font-size-30
  line-height: $spacing-40
  color: $modal-question-color
  +font-secondary
  +font-weight-regular
  margin-bottom: $spacing-40
  text-align: center
  +media(mobile)
    font-size: $font-size-20

.modal__info p
  margin-bottom: $spacing-30

.modal__info p a,
.modal__info p a:hover,
.modal__info p a:focus,
.modal__info p a:active
  color: $modal-question-color

.modal__list
  list-style: none
  display: flex
  flex-direction: column
  align-items: center
  justify-content: space-evenly

.modal__question
  color: $modal-question-color
  font-size: $font-size-40
  +font-secondary
  +font-weight-regular
  margin-top: $spacing-60
  margin-bottom: $spacing-40
  text-align: center
  cursor: pointer
  +media(mobile)
    font-size: $font-size-20
    margin-bottom: $spacing-30
    line-height: $line-height-10

.modal__question--visible::after
  content: '⊖'
  margin-left: 0.2rem
  font-size: $font-size-50
  +media(mobile)
    font-size: $font-size-30

.modal__question--hidden::after
  content: '⊕'
  margin-left: 0.2rem
  font-size: $font-size-50
  +media(mobile)
    font-size: $font-size-30

.modal__answer
  font-size: $font-size-20
  +font-secondary
  +font-weight-regular
  text-align: center
  color: $modal-question-color
  line-height: $line-height-10
  max-height: 20rem
  overflow: hidden
  transition: visibility 0.2s, opacity 0.2s, max-height 0.2s
  +media(mobile)
    font-size: $font-size-20
    margin-bottom: $spacing-30
    max-height: 50rem

.modal__answer--hidden
  visibility: hidden
  opacity: 0
  max-height: 0

.modal__answer p
  margin-bottom: $spacing-20

.modal__answer p a,
.modal__answer p a:hover,
.modal__answer p a:focus,
.modal__answer p a:active
  color: $modal-question-color